.external {
    text-decoration:  underline;
    color: blue;
}

p{ 
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

ul {
    font-style: italic;
}

.post-subtitle {
    color: rgb(147, 176, 188);
}

img {
    height: 200px;
    width: auto;
    margin-left: 50px;
}

.homeimages {
    justify-content: space-between;

}

.imagetxt {
    margin: 40px;
}

iframe {
    margin-left: 20px;
}